
@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input_box {
            position: relative;
            margin-top: 30px;
            margin-bottom: 10px;
            width: 100%;
            height: 40px;
        }

            .input_box input {
                height: 100%;
                width: 100%;
                border: 1.5px solid black;
                outline: none;
                padding: 0 30px;
                color: #333;
                transition: all 0.2s ease;
                border-bottom: 1.5px solid #aaaaaa;
            }

            .input_box select {
                height: 100%;
                width: 100%;
                border: 1.5px solid black;
                outline: none;
                padding: 0 30px;
                color: #333;
                transition: all 0.2s ease;
                border-bottom: 1.5px solid #aaaaaa;
            }

            .input_box input:focus {
                border-color: #7d2ae8;
            }

        .container {
            border: 1.5px solid black
        }
    </style>
</head>
<body>
       <div class="">
            <h1>login</h1>
            <div class="">
                <form    method="POST">
                    <div class="input_box">
                        <label for="empno">employno:</label>
                        <input type="number" id="empno" name="empno" required>
                    </div>
                    <div class="input_box">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                   
                    <div class="input_box"> <input type="submit" value="login" style="background-color:green;color:black"></div>
                    <div>
                    </div>
                </form>
            <a asp-controller="Home" asp-action="Signup">Signup</a>
            <a asp-controller="Home" asp-action="Index">Home</a>

            </div>
        </div>

</body>
</html>

